{%- macro aws(provider) -%}
provider "aws" {
  version = "~> 1.29.0"
  region  = "{{ provider.region }}"
}
{%- endmacro -%}

{# A single bucket is used for the lambda service #}
{%- macro bucket(lambdaService, region) -%}
resource "aws_s3_bucket" "lambda_bucket" {
  bucket = "lambda-bucket-{{ lambdaService }}"
  acl    = "private"
  region = "{{ region }}"
}
{%- endmacro -%}

{# These should be TF_VAR_ appended environment variables #}
{# e.g. for `TF_VAR_KEY` env var, call `ssm_parameter("KEY")` #}
{% macro ssm_parameter(variable) %}
variable "{{ variable }}" {} 

resource "aws_ssm_parameter" "ssm_{{ variable }}" {
  name  = "{{ variable }}"
  type  = "SecureString"
  value = "${var.{{ variable }}}"
}
{%- endmacro -%}
